
body {
  background-color: #F0EAD6;  
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.heading-container {
  display: flex; 
  justify-content: center; 
  justify-items: center; 
}

.story-container {
  display: flex;
  margin-top: 40px;  
}
